<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smobileteam.flashlight"
    android:versionCode="18"
    android:versionName="9.10.12">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />


    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:name=".FlashlightApplication"
        android:allowBackup="true"
        android:icon="@mipmap/newlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".FlashlightActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name=".screenlight.ScreenLightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".glass.GlassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".powersave.PowerSaveFlashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />

        <receiver android:name=".widget.WidgetFull">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_full_info" />
        </receiver>
        <receiver android:name=".widget.WidgetLite">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_lite_info" />
        </receiver>
        <receiver
            android:name=".receiver.QuickControllerBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
